		.cal{
			height: 450px;
			width: 258px;
			background-color: lightgray;
			border: 3px solid;
			margin: 100px 500px;
			border-radius: 50px;
			padding: 20px;
		}
		input{
			width: 55px;
			height: 55px;
			background-color: black;
			color: white;
			font-size: 22px;
			font-weight: bolder;
			border: 3px solid red;
			border-radius: 20px;
			margin: 3px;
			transition-duration: 0.5s;
			border

		}
		input:hover{
			transform: scale(0.9);
		}
		#op:hover{
			transform: scale(1.1);
		}
		#op{
			height: 120px;
			width: 244px;
			background-color: black;
			border: 2px solid white;
			color: white;
		}
		.clore{
			background-color: red;
		}
		.ac{
			background-color: yellow;
			width: 120px;
			color: red;
		}